*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background: #0F1111;
    display: flex;
    align-items: center;
}
.nav-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
}
.nav-logo{
    height: 50px;
    width: 124px;
}
.logo{
    background-image: url('./images/amazon_logo.png');
    background-size: cover;
    height: 72%;
    width: 75%;
    margin: 10px -2px 10px 10px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
#deliver{
    font-size: 11px;
    font-weight: 400;
    color: gainsboro;
    line-height: 3px;
}
#country{
    font-weight: 600;
    font-size: 14px;
}
.nav-search{
    height: 65%;
    width: 60%;
    display: flex;
    align-items: center;
}
select{
    height: 100%;
    border: none;
    background: #E6E6E6;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
    border: 5px solid transparent;
}
.nav-search input{
    height: 100%;
    width: 680px;
    border: none;
    outline: none;
    font-size: 17px;
}
input::placeholder{
    padding-left: 10px;
}
.nav-search button{
    width: 50px;
    height: 100%;
    font-size: 20px;
    background: #FEBD69;
    color: black;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    border: 5px solid transparent;
}
.nav-search button:hover{
    background: #de9638;
}
.border-orange{
    border: 5px solid transparent;
}
.nav-lan{
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.lan-flag{
    height: 16px;
    width: 20px;
    background: #000;
    background-image: url('./images/america.png');
    background-size: cover;
    margin-right: 5px;
}
.lan i{
    color: #A6ABB1;
    font-size: 10px;
    margin: 6px 0px 0px 3px;
}
.lan{
    display: flex;
    margin-top: 10px;
}
.nav-lan span{
    font-weight: 700;
    font-size: 14px;
    color: white;
}
.testing{
    height: 450px;
    width: 220px;
    position: absolute;
    top: 50px;
    right: 125px;
    background: #fff;
    padding: 5px 14px 7px 14px;
    display: none;
    margin-top: 5px;
}
.testing span{
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
.testing a{
    text-decoration: none;
    font-size: 11px;
    font-weight: 500;
    color: #007185;
}
.testing hr{
    margin-top: 5px;
}
.sm-div{
    width: 20px;
    height: 20px;
    background: white;
    margin: -10px 0px 0px 40px;
    transform: rotate(135deg);
}
.testing input{
    margin: 10px 0px 10px 0px;
}
#lan{
    text-transform: none;
    color: black;
    font-size: 13px;
}
#lan:hover{
    color: rgb(233, 101, 53);
    text-decoration: underline;
}
#eng{
    margin-top: 15px;
}
#chn{
    margin-left: 60px;
    font-weight: 600;
}
.nav-account{
    width: 130px;
    height: 50px;
    align-content: center;
    line-height: 15px;
    margin-top: 10px;
}
.nav-account span{
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    color: white;
}
#acc{
    font-size: 13px;
    font-weight: 800;
    margin-top: -1px;
}
.acc-test{
    height: 400px;
    width: 470px;
    text-align: center;
    background: white;
    position: absolute;
    right: 100px;
    border-radius: 2px;
    display: none;
    margin-top: 5px;
    padding: 14px 14px 7px 14px;
}
.acc-sm{
    margin: -18px 0px 0px 85%;
}
.sign-btn{
    height: 35px;
    width: 220px;background: #FFD814;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.sign-btn:hover{
    text-decoration: underline;
    text-decoration-color: #E47911;
}
.acc-test a{
    color: #0197b1;
    text-decoration: none;
    font-size: 12px;
}
.acc-test hr{
    margin-top: 10px;
}
.acc-test a:hover{
    text-decoration: underline;
    color: #E47911;
    text-decoration-color: #E47911;
}
.acc-p
{
    width: 100%;
    height: 80%;
    display: flex;
}
.acc-c{
    height: 95%;
    width: 50%;
    margin-top: 10px;
    text-align: start;
    padding: 10px;
}
#acc-head{
    font-size: 18px;
    font-weight: 600;
}
.acc-c ul li{
    list-style: none;
    padding-top: 7px;
}
#acc-c-a{
    font-size: 12px;
    color: #4e4d4d;
}
#acc-c-a:hover{
    color: #E47911;
}
.nav-order{
    width: 80px;
    height: 50px;
    align-content: center;
    text-align: center;
    cursor: pointer;
    line-height: 15px;
    margin-top: 10px;
}
.nav-cart{
    height: 50px;
    width: 75px;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}
.nav-cart i{
    font-size: 25px;
    color: white;
}
/* NAVBAR END */
.nav{
    height: 40px;
    width: 100%;
    background: #232F3E;
    color: white;
    display: flex;
}
.all{
    height: 95%;
    width: auto;
    cursor: pointer;
    align-content: center;
    text-align: center;
    padding: 0px 5px 0px 15px;
}
#bold-txt{
    font-weight: 500;
    font-size: 14px;
}
/* NAV END */
.side-main{
    width:24%;
    height: 1020px;
    background: orange;
    position: fixed;
    top: 0;
    display: none;
    animation: oepning 0.5s normal;
}
@keyframes oepning{
    from {width: 0px;}
    to {width: 24%;}
}
@keyframes closing{
    from {
        width: 24%;
        display: block;
    }
    to {
        width: 0px;
        display: none;;
    }
}
/* ANIMATION TO OPEN SIDEBAR */
.acc-btn{
    width: 100%;
    height: 50px;
    border: none;
    background: #232F3E;
    display: flex;
    align-items: center;
    cursor: pointer ;
}
#head{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.user{
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    text-align: center;
    align-content: end;
    margin-left: 40px;
}
.main-side{
    height: 653px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.side-menu{
    width: 90%;
    height: auto;
    background: white;
    padding: 20px 25px 20px 35px;
}
.side-menu ul li{
    list-style: none;
    margin-top: 25px;
}
.side-menu ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#all{
    list-style: none;
    margin-top: 25px;
}
#all a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
#all a i{
    margin-left: 10px;
}
#cross{
    color: white;
    cursor: pointer;
    font-size: 22px;
    width: 30px;
    height: 30px;
    align-content: center;
    position: fixed;
    left: 390px;
    top: 10px;
    background: none;
}
.wrapper{
    width: 100%;
    height: 500px;
}
.wrapper img{
    width: 100%;
    height: 650px;
}
.wrapper {
    width: 100%;
    background-image:
    linear-gradient(to bottom,  rgba(175, 173, 173, 0) 50%, #E3E6E6 100%),
    url('./images/banner.jpg');
    height: 700px;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 1px;
    /* margin: 0; */
}
.head-top{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    /* background: gray; */
    margin-top: 17%;
}
#head2{
    background: #E3E6E6;
    margin-top: -70px;
}
#head2 .ht-card{
    margin-top: 20px;
}
.ht-card{
    height: 80%;
    width: 22%;
    background: white;
    padding: 20px 10px 0px 10px;
}
#heading{
    color: #0F1111;
    font-size: 21px;
    font-weight: 600;
    margin-left: 10px;
}
.ht-img{
    height: 80%;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    margin-left: 10px;
}
.ht-img-card{
    height: 100%;
    width: 50%;
    margin-top: 10px;
}
.img-card{
    height: 50%;
    width: 100%;
}
.img-card img{
    height: 80%;
    width: 92%;
}
.ht-img-card span{
    color: black;
    font-size: 13px;
}
.ht-card a{
    font-size: 12px;
    text-decoration: none;
    color: #0197b1;
}
.ht-card a:hover{
    color: #E47911;
}
#one-img:hover {
    cursor: pointer;
}

#one-img:hover a {
    color: #E47911;
}
/* Slide-Card Start */
.slide-card{
    width: 100%;
    height: 250px;
    background: #E3E6E6;
    display: flex;
    justify-content: center;
    margin-top: -0px;
}
.card-slider{
    width: 97%;
    height: 90%;
    background: white;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
.s-card{
    width: 13%;
    height: 95%;
    text-align: center;
}.card-slider button{
    width: 45px;
    height: 100px;
    border: none;
    background: transparent;
    font-size: 25px;
    margin-top: 5%;
}.s-card img{
    height: 100%;
    width: 90%;
}
.slide-card:hover{
    .card-slider button{
        background: white;
        transition: 1.5s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
}

/* Slide-Card End */
